
#tabs-index{font-size: 14px;}
.ui-widget-header {
    background:#b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

#main-div { padding-top: 110px; }

.affix {
    top: 51px;
    width: 100%;
    z-index: 9999
}

.well-sm {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2px;
}

.time_stamp {
    color: black;
}

