{% extends "base.html" %}
{% block body %}
<div id="container_demo" >
	<div id="wrapper">
		<div id="login" class="animate form">
			<form  action="{{ url_for('login') }}" method=post> 
				<h1>Compass Unit Dashboard Log In</h1> 
				<p> 
					<label for="username" class="uname"> Your username </label>
					<input id="username" name="username" required="required" type="text" placeholder="Your Compass ID"/>
				</p>
				<p> 
					<label for="password" class="youpasswd"> Your password </label>
					<input id="password" class=input-password" name="password" required="required" type="password" placeholder="eg. Handfruit" /> 
				</p>
				<p class="login button"> 
					<input type="submit" value="Login" /> 
				</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}