{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/unit_lookup.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="page" class="container">
        <div id="main">
            <div id="welcome">
                <div class="title">
                    <h2>Unit Lookup</h2>
                    <span class="byline">Use this tool to lookup current information on your unit.</span>
                </div>
                <div tabindex="-1" id="popup_message">
                </div>
                <div id="add_unit_question">
                    <span>Unit isn't in database.  Would you like to add it?</span>
                    <br>
                    <button id="btnAddYes" name="btnAddYes">Yes</button>
                    <button id="btnAddNo" name="btnAddNo">No</button>
                </div>
            </div>
            <br>
            <div>
                Unit Number
                <input type="text" id="unit_number_search" class="fieldstyle clearMe" name="unit_number_search" {% if unit %} value="{{ unit.unit_number }}" {% endif %}/>
                <button type="submit" id="btnGoSearch" onclick="goSearch($('#unit_number_search').val())">Go</button>
                <input type="submit" class="btnsubmit edit_button" id="btnModify" value="Edit">
                <button id="btnCancel" onclick="cancelEditMode()">Cancel</button>
            </div>
            <hr class="style-one">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-info">Info</a></li>
                <li><a data-toggle="tab" href="#tab-email">Emails</a></li>
                <li><a data-toggle="tab" href="#tab-notes">Notes</a></li>
            </ul>
            <form class=add-entry id="form_unit_info">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-info">
                        <table>
                            <tr>
                                <td class="vertical-alignfieldset tdsize">
                                    <fieldset class="border info fieldset">
                                        <legend><i>Unit Info</i></legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Unit Number:</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="unit_number" class="df_unit_number fieldstyle disableInput clearMe" name="unit_number" size="5" {% if unit %} value="{{ unit.unit_number }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Unit Name:</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="unit_name" class="df_unit_name fieldstyle disableInput clearMe" name="unit_name" size="20" {% if unit %} value="{{ unit.unit_name }} {% endif %}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Unit Sector:</b>
                                                </td>
                                                <td>
                                                    <select id="sector" name="sector" class="df_sector fieldstyle disableInput" {% if unit %}value="{{ unit.sector }}" {% endif %}>
                                                        <option value="">Select</option>
                                                        {% for sector in sectors %}
                                                            <option value="{{ sector }}"{% if unit and unit.sector=='{{ sector }}' %} selected="selected"{% endif %}>{{ sector }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Landline:</b>
                                                </td>
                                                <td>
                                                    <input type="tel" class="df_landline fieldstyle disableInput clearMe" name="landline" id="landline" size="14" {% if unit %} value="{{ unit.landline }}" {% endif %}/><br>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td class="vertical-alignfieldset tdsize">
                                    <fieldset class="border info fieldset">
                                        <legend><i>Project Info</i></legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Solution Manager</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="assigned_bsm" class="df_solution_manager disableInput clearMe" name="assigned_bsm" {% if unit %} value="{{ unit.solution_manager }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Project Analyst</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="assigned_tpa" class="df_project_analyst disableInput clearMe" name="assigned_tpa" {% if unit %} value="{{ unit.project_analyst }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Go Live</b>
                                                </td>
                                                <td>
                                                    <input type="date" id="golive_date" class="df_golive_date disableInput clearMe" style="width: 11em" name="golive_date" {% if unit %} value="{{ unit.golive_date.strftime('%Y-%m-%d') }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Master Account</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="master_account" class="df_master_account disableInput clearMe" name="master_account" {% if unit %} value="{{ unit.master_account }}" {% endif %} />
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="vertical-alignfieldset tdsize">
                                    <fieldset class="border fieldset">
                                        <legend><i>Unit Contact Info</i></legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Name:</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="contact_name" class="df_contact_name fieldstyle disableInput clearMe" name="contact_name" {% if unit %} value="{{ unit.unit_contact.name }}" {% endif %} />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Office:</b>
                                                </td>
                                                <td>
                                                    <input type="tel" id="contact_phone" class="df_contact_phone fieldstyle disableInput clearMe" name="contact_phone" size="14" {% if unit %} value="{{ unit.unit_contact.phone }}" {% endif %} />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Cell:</b>
                                                </td>
                                                <td>
                                                    <input type="tel" id="contact_phone2" class="df_contact_phone2 fieldstyle disableInput clearMe" name="contact_phone2" size="14" {% if unit %} value="{{ unit.unit_contact.phone2 }}" {% endif %} />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Email:</b>
                                                </td>
                                                <td>
                                                    <input type="email" id="contact_email" class="df_contact_email fieldstyle disableInput clearMe" name="contact_email" size="30" {% if unit %} value="{{ unit.unit_contact.email }}" {% endif %}/>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td class="vertical-alignfieldset tdsize">
                                    <fieldset class="border fieldset">
                                        <legend><i>Client IT Contact Info</i></legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Name:</b>
                                                </td>
                                                <td>
                                                    <input type="text" id="client_it_name" class="df_client_it_name fieldstyle disableInput clearMe" name="client_it_name" {% if unit %} value="{{ unit.client_it_contact.name }}" {% endif %} />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Office:</b>
                                                </td>
                                                <td>
                                                    <input type="tel" id="client_it_phone" class="df_client_it_phone fieldstyle disableInput clearMe" name="client_it_phone" size="14" {% if unit %} value="{{ unit.client_it_contact.phone }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Cell:</b>
                                                </td>
                                                <td>
                                                    <input type="tel" id="client_it_phone2" class="df_client_it_phone2 fieldstyle disableInput clearMe" name="client_it_phone2" size="14" {% if unit %} value="{{ unit.client_it_contact.phone2 }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Email:</b>
                                                </td>
                                                <td>
                                                    <input type="email" id="client_it_email" class="df_client_it_email fieldstyle disableInput clearMe" name="client_it_email" size="30" {% if unit %} value="{{ unit.client_it_contact.email }}" {% endif %} />
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="vertical-alignfieldset tdsize">
                                    <fieldset class="border address fieldset">
                                        <legend><i>Service Address</i></legend>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Street Address</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="svc_street_address" class="df_svc_street_address fieldstyle disableInput clearMe" name="svc_street_address" {% if unit %} value="{{ unit.service_address.street }}" {% endif %}/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>City</b>
                                                </td>
                                                <td>
                                                    <b>State</b>
                                                </td>
                                                <td>
                                                    <b>Zip</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="svc_city" class="df_svc_city fieldstyle disableInput clearMe" name="svc_city" {% if unit %} value="{{ unit.service_address.city }}" {% endif %}/>
                                                </td>
                                                <td>
                                                    <select name="svc_state" id="svc_state" class="df_svc_state fieldstyle disableInput">
                                                        <option value="">  </option>
                                                        {% for state in states %}
                                                            <option value="{{ state }}">{{ state }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" id="svc_zip" class="df_svc_zip zip fieldstyle disableInput clearMe" name="svc_zip" maxlength="5" size="5" {% if unit %} value="{{ unit.service_address.zip }}" {% endif %}/>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td class="vertical-alignfieldset tdsize" id="shipping_address">
                                    <fieldset class="border address fieldset">
                                        <legend><i>Shipping Address</i></legend>
                                        <table>
                                            <tr>
                                                <td colspan=3>
                                                    <input type="checkbox" id="same_shipping_address" name="same_shipping_address" class="fieldstyle disableInput" name="different_address" checked>Same as Service Address</input>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Street Address</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="ship_street_address" class="df_ship_street_address fieldstyle disableInput clearMe" name="ship_street_address" {% if unit %} value="{{ unit.shipping_address.street }}" {% endif %}/>
                                                </td>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>City</b>
                                                </td>
                                                <td>
                                                    <b>State</b>
                                                </td>
                                                <td>
                                                    <b>Zip</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="text" id="ship_city" class="df_ship_city fieldstyle disableInput clearMe" name="ship_city" {% if unit %} value="{{ unit.shipping_address.city }}" {% endif %}/>
                                                </td>
                                                <td>
                                                    <select name="ship_state" id="ship_state" class="df_ship_state fieldstyle disableInput">
                                                        <option value="">  </option>
                                                        {% for state in states %}
                                                            <option value="{{ state }}">{{ state }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <input type="text" id="ship_zip" class="df_ship_zip zip fieldstyle disableInput clearMe" name="ship_zip" maxlength="5" size="5" {% if unit %} value="{{ unit.shipping_address.zip }} {% endif %}"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                        <fieldset class="border">
                            <legend>Network Devices</legend>
                            <table id="tblPosTerminals">
                                <b>POS Terminals/ Kiosks</b>
                                <tr>
                                    <td></td>
                                    <td>Qty</td>
                                    <td>Type</td>
                                    <td>Location</td>
                                </tr>
                                {% for row in pos_range %}
                                    <tr id="pos_devices{{ row }}">
                                        <td>
                                            <button type="button" class="removethisrow disableInput" {%  if loop.first %} style="visibility: hidden" {% endif %}>X</button>
                                        </td>
                                        <td>
                                            <input type="number" id="pos_qty{{ row }}" class="qty fieldstyle df_pos_qty{{ row }} disableInput clearMe" name="pos_qty{{ row }}" min="0" style="width: 3em"/>
                                        </td>
                                        <td>
                                            <select id="pos_type{{ row }}" name="pos_type{{ row }}" class="df_pos_type{{ row }} disableInput">
                                                <option value="">Select</option>
                                                <option value="infogenesis">Agilysys Infogenesis</option>
                                                <option value="simphony">Micros Simphony</option>
                                                <option value="clover">Clover</option>
                                                <option value="nextep">Nextep</option>
                                                <option value="rguest">Agilysys RGuest</option>
                                                <option value="sam4">SAM4</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" id="pos_location{{ row }}" class="fieldstyle df_pos_location{{ row }} disableInput clearMe" name="pos_location{{ row }}"/>
                                        </td>
                                        {% if not loop.last %}
                                            <td>
                                                <button type="button" class="shownextrow disableInput">+</button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <table id="tblOtherNetworkDevices">
                                <b>Other</b>
                                <tr>
                                    <td></td>
                                    <td>Qty</td>
                                    <td>Type</td>
                                    <td>Location</td>
                                </tr>
                                {% for row in other_range %}
                                    <tr id="other_devices{{ row }}">
                                        <td>
                                            <button type="button" class="removethisrow disableInput" {%  if loop.first %} style="visibility: hidden" {% endif %}>X</button>
                                        </td>
                                        <td>
                                            <input type="number" id="other_qty{{ row }}" class="qty fieldstyle df_others_qty{{ row }} disableInput clearMe" name="other_qty{{ row }}" min="0" style="width: 3em"/>
                                        </td>
                                        <td>
                                            <input list="other_network_devices" id="other_type{{ row }}" class="fieldstyle df_others_type{{ row }} disableInput clearMe" name="other_type{{ row }}" size="16"/>
                                            <datalist id="other_network_devices">
                                                <option value="Compass PC"/>
                                                <option value="Digital Signage"/>
                                                <option value="Time Clock"/>
                                                <option value="Network Printer"/>
                                                <option value="Standalone P2PE"/>
                                                <option value="Order Status Monitor"/>
                                                <option value="TPG Server"/>
                                                <option value="Pre-Order Kiosk"/>
                                                <option value="KDS"/>
                                                <opption value="Kitchen Printer"/>
                                            </datalist>
                                        </td>
                                        <td>
                                            <input type="text" id="other_location{{ row }}" class="fieldstyle df_others_location{{ row }} disableInput clearMe" name="other_location{{ row }}"/>
                                        </td>
                                        {% if not loop.last %}
                                            <td>
                                                <button type="button" class="shownextrow disableInput">+</button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </fieldset>
                        <fieldset class="border">
                            <legend>Tasks</legend>
                            <table style="/*noinspection CssInvalidPropertyValue*/display: -webkit-inline-box; text-align: end;">
                                <tr>
                                    <td>
                                        <label for="pos_task" id="label_pos_task" class="remedy_task">POS Task #:</label> <input type="text" id="pos_task" class="df_pos_task fieldstyle disableInput clearMe" name="pos_task" {% if unit %} value="{{ unit.pos_task }}" {% endif %}/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="network_task" id="label_network_task" name="label_network_task" class="remedy_task">Compass  Net Task #:</label> <input type="text" id="network_task" class="df_network_task fieldstyle disableInput clearMe" name="network_task" {% if unit %} value="{{ unit.network_task }}" {% endif %}/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="payment_task" id="label_payment_task" class="remedy_task">Credit Card Task #:</label> <input type="text" id="payment_task" class="df_payment_task fieldstyle disableInput clearMe" name="payment_task" {% if unit %} value="{{ unit.payment_task }}" {%  endif %}/>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <br>
                        <div style="text-align:center;">
                            <table class="trackingtable">
                                <tr>
                                    <td>
                                        <a href="https://remedyweb.compass-usa.com/arsys/forms/remedyprod/TREAS%3AConsole/Field/?cacheid=51973b9d" target="_blank" id="btnMIDRequest" name="btnMIDRequest" class="btndataprep" ><b>MID Request</b></a>
                                    </td>
                                    <td>
                                        <a href="#" id="btnFPDeviceOrder" name="btnFPDeviceOrder" class="btndataprep" onclick="getOrderPDFDownload()"><b>FP Device Order</b></a>
                                    </td>
                                    <td>
                                        <a href="#" id="btnFPBoarding" name="btnFPBoarding" class="btndataprep" onclick="getBoardingPDFDownload()"><b>FP Boarding</b></a>
                                    </td>
                                    <td>
                                        <a href="http://mldirectorders.mlorders.com/Home/Contact" target="_blank" id="btnMerchantLink" name="btnMerchantLink" class="btndataprep"><b>Merchant Link</b></a>
                                    </td>
                                    <td>
                                        <a href="https://remedyweb.compass-usa.com/arsys/forms/remedyprod/OM%3AOrderConsole/Support/?cacheid=94dc5108" target="_blank" id="btnRouterOrder" name="btnRouterOrder" class="btndataprep"><b>Router Order</b></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="MID" name="mid_request_status" class="df_mid_request_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Ordered">Ordered</option>
                                            <option value="Not Ordered">Not Ordered</option>
                                            <option value="Received">Received</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="P2PE_x0020_Device_x0020_Status" name="cc_order_status" class="df_cc_order_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Ordered">Ordered</option>
                                            <option value="Shipping Confirmed">Shipping Confirmed</option>
                                            <option value="PIM ACK Received">PIM ACK Received</option>
                                            <option value="Received and Secured">Received and Secured</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="FP_x0020_Boarding" name="cc_boarding_status" class="df_cc_boarding_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Submitted">Submitted</option>
                                            <option value="Creds Received">Creds Received</option>
                                            <option value="Waiting on PIM Ack">Waiting on PIM</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="Merchant_x0020_Link_x0020_Setup" name="merchantlink_status" class="df_merchantlink_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="Order_x0020_Router_x002f_Switch" name="router_order_status" class="df_router_order_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Ordered">Ordered</option>
                                            <option value="Shipped">Shipped</option>
                                            <option value="Installed">Installed</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="text-align:center;">
                            <table class="trackingtable">
                                <tr>
                                    <td>
                                        <b>Network Diagram</b>
                                    </td>
                                    <td>
                                        <b>Broadband Order</b>
                                    </td>
                                    <td>
                                        <a href="http://vantagepoint.toltsolutions.com/" target="_blank" id="btnRouterInstall" name="btnRouterInstall" class="btndataprep"><b>Router Install</b></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <select id="Network_x0020_Diagram" name="network_diagram_status" class="df_network_diagram_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Gathering Requirements">Gathering Requirements</option>
                                            <option value="Revisions">Revisions</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="Order_x0020_Broadband" name="bb_order_status" class="df_bb_order_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Ordered">Not Ordered</option>
                                            <option value="Ordered">Ordered</option>
                                            <option value="Client Provided">Client Provided</option>
                                            <option value="Site Survey Scheduled">Site Survey Scheduled</option>
                                            <option value="Pre-Qual Failed">Pre-Qual Failed</option>
                                            <option value="Install Scheduled">Install Scheduled</option>
                                            <option value="Installed">Installed</option>
                                            <option value="IPs Provided to CN">IPs Provided to CN</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select id="Router_x0020_Installation" name="router_install_status"  class="df_router_install_status fieldstyle shareStatus">
                                            <option value="NA">N/A</option>
                                            <option value="Not Started">Not Started</option>
                                            <option value="Request Submitted">Request Submitted</option>
                                            <option value="Tech Scheduled">Tech Scheduled</option>
                                            <option value="Client Installed">Client Installed</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="center">
                            <label for="project_status"><b>Project Status</b></label>
                            <select id="Project_x0020_Status" name="project_status"  class="df_project_status fieldstyle shareStatus">
                                <option value="New">New</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                            <br>
                            <progress value="10" max="100"></progress>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        Created:
                                    </td>
                                    <td>
                                        <label id="created_date" class="df_created_date clearMe">{{ creation_date }}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Modified:
                                    </td>
                                    <td>
                                        <label id="modified_date" class="df_modified_date clearMe">{{ modified_date }}</label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div style="text-align:center;">
                            <input type=submit class="btnsubmit edit_button" id="btnModify2" value="Edit">
                        </div>
                    </div>
                    <div id="tab-notes" class="tab-pane fade">
                        <br>
                        <textarea name="comments" id="comments" class="form-control df_comments disableInput clearMe" {% if unit %} value="{{ unit.notes }}" {% endif %} rows=6></textarea>
                    </div>
                    <div id="tab-email" class="tab-pane fade">
                        <h2>Emails:</h2>
                        <div id="emails"></div>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
            <span>Created by Compass FSS TPA Team</span>

        </div>
    </div>
    </div>
{% endblock %}