{% extends "base.html" %}
{% set active_page = "index" %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/unit_info.js') }}?={{ version }}"></script>
    <script>

    </script>
{% endblock %}
{% block info_bar %}
    <div class="well well-sm" data-spy="affix" data-offset-top="0">
        <h5 id="unit_info_bar" class="pull-left">
            <strong>Unit #: </strong><span id="unit_num" name="unit_num" class="df_unit_number clearMe"></span>
            <strong>    Unit Name: </strong><span id="unit_name_bar" name="unit_name_bar" class="df_unit_name clearMe"></span>
        </h5>
        <h5 id="unit_info_bar_right" class="pull-right">
            <strong>Go Live: </strong><span id="golive_bar" name="golive_bar" type="date" class="df_golive_date clearMe"></span>
        </h5>
    </div>
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-info">Info</a></li>
        <li><a data-toggle="tab" href="#tab-remedy">Remedy Tasks</a></li>
        <li><a data-toggle="tab" href="#tab-statuses">P2PE & Connectivity Statuses</a></li>
        <li><a data-toggle="tab" href="#tab-networking">Network Details</a></li>
        <li><a data-toggle="tab" href="#tab-email">Emails</a></li>
        <li><a data-toggle="tab" href="#tab-notes">Notes</a></li>
        <li><a data-toggle="tab" href="#tab-log">Log</a></li>
    </ul>
    <form id="form_unit_info" role="form" action="" method="post" onsubmit="submitFormData(); return false;">
        <div class="tab-content">
            <br>
            <div id="tab-info" class="tab-pane fade in active">
                <div class="panel-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#unit_info">Unit Info</a>
                                    </h4>
                                </div>
                                <div id="unit_info" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="unit_number" class="col-sm-3 control-label">Unit #</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="unit_number" class="form-control input-sm df_unit_number disableInput noedit clearMe mousetrap" name="unit_number" required/>
                                                <span id="sp_check_icon" class="glyphicon glyphicon-ok form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="unit_name" class="col-sm-3 control-label">Unit Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="unit_name" class="form-control input-sm df_unit_name disableInput clearMe mousetrap" name="unit_name" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="sector" class="col-sm-3 control-label">Sector</label>
                                            <div class="col-sm-9">
                                                <select class="form-control input-sm df_sector disableInput mousetrap" name="sector" id="sector" required>
                                                    <option value="">Select</option>
                                                    {% for sector in sectors %}
                                                        <option value="{{ sector }}">{{ sector }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="landline" class="col-sm-3 control-label">Landline</label>
                                            <div class="col-sm-9">
                                                <input type="tel" id="landline" class="form-control input-sm df_landline disableInput clearMe mousetrap" name="landline"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a tabindex="-1" data-toggle="collapse" href="#implementation_info">Implementation Info</a>
                                    </h4>
                                </div>
                                <div id="implementation_info" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="assigned_bsm" class="col-sm-4 control-label">Solution Manager</label>
                                            <div class="col-sm-8">
                                                <select id="assigned_bsm" class="form-control input-sm df_solution_manager disableInput mousetrap" name="assigned_bsm" required/>
                                                <option value="">Select</option>
                                                {% for bsm in solution_managers %}
                                                    <option value="{{ bsm }}">{{ bsm }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="assigned_tpa" class="col-sm-4 control-label">Project Analyst</label>
                                            <div class="col-sm-8">
                                                <select id="assigned_tpa" class="form-control input-sm df_project_analyst disableInput mousetrap" name="assigned_tpa" required/>
                                                <option value="">Select</option>
                                                {% for tpa in project_analysts %}
                                                    <option value="{{ tpa }}">{{ tpa }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="golive_date" class="col-sm-4 control-label" data-toggle="popover" title="Go Live Dates" data-placement="top" data-trigger="click">Go Live</label>
                                            <div class="col-sm-8">
                                                <input type="date" id="golive_date" class="form-control input-sm df_golive_date disableInput clearMe mousetrap" name="golive_date"/>
                                                <span id="golive_dates_icon" class="glyphicon glyphicon-flag form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="master_account" class="col-sm-4 control-label">Master Account</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="master_account" class="form-control input-sm df_master_account disableInput clearMe mousetrap" name="master_account"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a tabindex="-1" data-toggle="collapse" href="#service_address">Service Address</a>
                                    </h4>
                                </div>
                                <div id="service_address" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label for="svc_street_address" class="control-label">Street Address</label>
                                                <input type="text" id="svc_street_address" class="form-control input-sm df_svc_street_address disableInput clearMe mousetrap" name="svc_street_address" required/>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="svc_city" class="control-label">City</label>
                                                <input type="text" id="svc_city" class="form-control input-sm df_svc_city disableInput clearMe mousetrap" name="svc_city" required/>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="svc_state" class="control-label">State</label>
                                                <select name="svc_state" id="svc_state" class="form-control input-sm df_svc_state disableInput mousetrap" required>
                                                    <option value="">  </option>
                                                    {% for state in states %}
                                                        <option value="{{ state }}">{{ state }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="svc_zip" class="control-label">Zip</label>
                                                <input type="text" id="svc_zip" class="form-control input-sm df_svc_zip disableInput clearMe mousetrap" name="svc_zip" maxlength="5" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a tabindex="-1" data-toggle="collapse" href="#shipping_address">Shipping Address</a>
                                    </h4>
                                </div>
                                <div id="shipping_address" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label for="ship_street_address" class="control-label pull-left">Street Address</label>
                                                <label class="pull-right"><input type="checkbox" id="same_shipping_address" name="same_shipping_address" class="df_same_shipping_address disableInput" checked>Same as Service Address</label>
                                                <input type="text" id="ship_street_address" class="form-control input-sm df_ship_street_address disableInput clearMe mousetrap" name="ship_street_address"/>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="ship_city" class="control-label">City</label>
                                                <input type="text" id="ship_city" class="form-control input-sm df_ship_city disableInput clearMe mousetrap" name="ship_city"/>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ship_state" class="control-label">State</label>
                                                <select name="ship_state" id="ship_state" class="form-control input-sm df_ship_state disableInput mousetrap">
                                                    <option value="">  </option>
                                                    {% for state in states %}
                                                        <option value="{{ state }}">{{ state }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ship_zip" class="control-label">Zip</label>
                                                <input type="text" id="ship_zip" class="form-control input-sm df_ship_zip disableInput clearMe mousetrap" name="ship_zip" maxlength="5"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#unit_contact_info">Unit Contact Info</a>
                                    </h4>
                                </div>
                                <div id="unit_contact_info" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="contact_name" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="contact_name" class="form-control input-sm df_contact_name disableInput clearMe mousetrap" name="contact_name" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="contact_phone" class="col-sm-2 control-label">Office</label>
                                            <div class="col-sm-10">
                                                <input type="tel" id="contact_phone" class="form-control input-sm df_contact_phone disableInput clearMe mousetrap" name="contact_phone" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="contact_phone2" class="col-sm-2 control-label">Cell</label>
                                            <div class="col-sm-10">
                                                <input type="tel" id="contact_phone2" class="form-control input-sm df_contact_phone2 disableInput clearMe mousetrap" name="contact_phone2"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="contact_email" class="col-sm-2 control-label email_label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="contact_email" class="form-control input-sm df_contact_email disableInput clearMe mousetrap" name="contact_email"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a tabindex="-1" data-toggle="collapse" href="#client_it_contact_info">Client IT Contact Info</a>
                                    </h4>
                                </div>
                                <div id="client_it_contact_info" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="client_it_name" class="col-sm-2 control-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="client_it_name" class="form-control input-sm df_client_it_name disableInput clearMe mousetrap" name="client_it_name" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="client_it_phone" class="col-sm-2 control-label">Office</label>
                                            <div class="col-sm-10">
                                                <input type="tel" id="client_it_phone" class="form-control input-sm df_client_it_phone disableInput clearMe mousetrap" name="client_it_phone"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="client_it_phone2" class="col-sm-2 control-label">Cell</label>
                                            <div class="col-sm-10">
                                                <input type="tel" id="client_it_phone2" class="form-control input-sm df_client_it_phone2 disableInput clearMe mousetrap" name="client_it_phone2"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="client_it_email" class="col-sm-2 control-label email_label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="text" id="client_it_email" class="form-control input-sm df_client_it_email disableInput clearMe mousetrap" name="client_it_email"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="border">
                            <legend><i>Network Devices</i></legend>
                            <table id="tblPosTerminals">
                                <b>POS Terminals/ Kiosks</b>
                                <tr>
                                    <td></td>
                                    <td>Qty</td>
                                    <td>Type</td>
                                    <td>Location</td>
                                </tr>
                                {% for row in pos_range %}
                                    <tr id="pos_devices{{ row }}">
                                        {%  if not loop.first %}
                                            <td>
                                                <button type="button" class="removethisrow">X</button>
                                            </td>
                                        {% else %}
                                            <td>
                                                <button type="button" style="visibility: hidden">X</button>
                                            </td>
                                        {% endif %}
                                        <td>
                                            <input type="number" id="pos_qty{{ row }}" class="qty df_pos_qty{{ row }} disableInput clearMe mousetrap" name="pos_qty{{ row }}" min="0" style="width: 3em" {% if loop.first %}required{% endif %}/>
                                        </td>
                                        <td>
                                            <select id="pos_type{{ row }}" name="pos_type{{ row }}" class="df_pos_type{{ row }} disableInput mousetrap" {% if loop.first %}required{% endif %}>
                                                <option value="">Select</option>
                                                <option value="infogenesis">Agilysys Infogenesis</option>
                                                <option value="simphony">Micros Simphony</option>
                                                <option value="clover">Clover</option>
                                                <option value="nextep">Nextep</option>
                                                <option value="rguest">Agilysys RGuest</option>
                                                <option value="sam4">SAM4</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" id="pos_location{{ row }}" class="df_pos_location{{ row }} disableInput mousetrap" name="pos_location{{ row }}" {% if loop.first %}required{% endif %}/>
                                        </td>
                                        {% if not loop.last %}
                                            <td>
                                                <button type="button" class="shownextrow disableInput">+</button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <table id="tblOtherNetworkDevices">
                                <b>Other</b>
                                <tr>
                                    <td></td>
                                    <td>Qty</td>
                                    <td>Type</td>
                                    <td>Location</td>
                                </tr>
                                {% for row in other_range %}
                                    <tr id="other_devices{{ row }}">
                                        <td>
                                            <button type="button" class="removethisrow disableInput" {%  if loop.first %} style="visibility: hidden" {% endif %}>X</button>
                                        </td>
                                        <td>
                                            <input type="number" id="other_qty{{ row }}" class="qty df_others_qty{{ row }} disableInput clearMe mousetrap" name="other_qty{{ row }}" min="0" style="width: 3em"/>
                                        </td>
                                        <td>
                                            <input list="other_network_devices" id="other_type{{ row }}" class="df_others_type{{ row }} disableInput clearMe mousetrap" name="other_type{{ row }}" size="16"/>
                                            <datalist id="other_network_devices">
                                                <option value="Compass PC"/>
                                                <option value="Digital Signage"/>
                                                <option value="Time Clock"/>
                                                <option value="Network Printer"/>
                                                <option value="Standalone P2PE"/>
                                                <option value="Order Status Monitor"/>
                                                <option value="TPG Server"/>
                                                <option value="Pre-Order Kiosk"/>
                                                <option value="KDS"/>
                                            </datalist>
                                        </td>
                                        <td>
                                            <input type="text" id="other_location{{ row }}" class="df_others_location{{ row }} disableInput clearMe mousetrap" name="other_location{{ row }}"/>
                                        </td>
                                        {% if not loop.last %}
                                            <td>
                                                <button type="button" class="shownextrow disableInput">+</button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>P2PE Devices</legend>
                            <div class="col-sm-3">
                                <label for="cc_qty" class="control-label">Qty</label>
                                <input type="number" id="cc_qty" class="df_cc_qty form-control disableInput clearMe mousetrap" name="cc_qty" min="0" />
                            </div>
                            <div class="col-sm-9">
                                <label for="cc_type" class="control-label">Type</label>
                                <select name="cc_type" id="cc_type" class="df_cc_type form-control disableInput mousetrap">
                                    <option value="">Select</option>
                                    <option value="Ingenico iPP320">Ingenico iPP320</option>
                                    <option value="Ingenico iPP350">Ingenico iPP350</option>
                                    <option value="Ingenico iWL252">Ingenico iWL252</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div id="tab-notes" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Notes</strong></div>
                    <div class="panel-body">
                        <textarea name="comments" class="form-control df_comments disableInput clearMe mousetrap" rows=6></textarea>
                    </div>
                </div>
            </div>
            <div id="tab-email" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Email</strong></div>
                    <div class="panel-body">
                        <ul class="list-group" id="emails"></ul>
                    </div>
                </div>
            </div>
            <div id="tab-remedy" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Remedy Tasks</strong></div>
                    <div class="form-horizontal panel-body">
                        <div class="form-group">
                            <label for="pos_task" id="label_pos_task" class="remedy_task control-label col-sm-3"><b>POS Task #</b></label>
                            <div class="col-sm-5">
                                <input type="text" id="pos_task" class="df_pos_task form-control disableInput clearMe mousetrap" name="pos_task"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="network_task" id="label_network_task" name="label_network_task" class="remedy_task control-label col-sm-3">CompassNet Task #:</label>
                            <div class="col-sm-5">
                                <input type="text" id="network_task" class="df_network_task form-control disableInput clearMe mousetrap" name="network_task"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="payment_task" id="label_payment_task" class="remedy_task control-label col-sm-3">Credit Card Task #:</label>
                            <div class="col-sm-5">
                                <input type="text" id="payment_task" class="df_payment_task form-control disableInput clearMe mousetrap" name="payment_task"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="treasury_order1" id="label_treasury_order1" name="label_treasury_order1" class="remedy_treasury_order control-label col-sm-3">Treasury Order #:</label>
                            <div class="col-sm-5">
                                <input type="text" id="treasury_order1" class="df_treasury_order1 form-control disableInput clearMe mousetrap" name="treasury_order1"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="treasury_order2" id="label_treasury_order2" name="label_treasury_order2" class="remedy_treasury_order control-label col-sm-3">Treasury Order #:</label>
                            <div class="col-sm-5">
                                <input type="text" id="treasury_order2" class="df_treasury_order2 form-control disableInput clearMe mousetrap" name="treasury_order2"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="compassnet_order" id="label_compassnet_order" name="label_compassnet_order" class="remedy_compassnet_order control-label col-sm-3">CompassNet Order #:</label>
                            <div class="col-sm-5">
                                <input type="text" id="compassnet_order" class="df_compassnet_order form-control disableInput clearMe mousetrap" name="compassnet_order"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-statuses" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Tasks</strong></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <a href="https://remedyweb.compass-usa.com/arsys/forms/remedyprod/TREAS%3AConsole/Field/?cacheid=51973b9d" target="_blank" id="btnMIDRequest" name="btnMIDRequest" class="btndataprep pull-left" ><b>MID Request</b></a>
                                <a id="mid_request_status_timestamp" name="mid_request_status_timestamp" class="df_mid_request_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="MID" name="mid_request_status" class="df_mid_request_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Ordered">Ordered</option>
                                    <option value="Ordered By BSM">Ordered By BSM</option>
                                    <option value="Ordered By Third Party">Ordered By Third Party</option>
                                    <option value="Not Ordered">Not Ordered</option>
                                    <option value="Received">Received</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a href="#" id="btnFPDeviceOrder" name="btnFPDeviceOrder" class="btndataprep pull-left" onclick="getOrderPDFDownload()"><b>FP Device Order</b></a>
                                <a id="cc_order_status_timestamp" name="cc_order_status_timestamp" class="df_cc_order_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="P2PE_x0020_Device_x0020_Status" name="cc_order_status" class="df_cc_order_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="BSM Handling">BSM Handling</option>
                                    <option value="Ordered">Ordered</option>
                                    <option value="Shipping Confirmed">Shipping Confirmed</option>
                                    <option value="PIM ACK Received">PIM ACK Received</option>
                                    <option value="Received and Secured">Received and Secured</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a href="#" id="btnFPBoarding" name="btnFPBoarding" class="btndataprep" onclick="getBoardingPDFDownload()"><b>FP Boarding</b></a>
                                <a id="cc_boarding_status_timestamp" name="cc_boarding_status_timestamp" class="df_cc_boarding_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="FP_x0020_Boarding" name="cc_boarding_status" class="df_cc_boarding_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="BSM Handling">BSM Handling</option>
                                    <option value="Submitted">Submitted</option>
                                    <option value="Creds Received">Creds Received</option>
                                    <option value="Waiting on PIM Ack">Waiting on PIM</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a href="http://mldirectorders.mlorders.com/Home/Contact" target="_blank" id="btnMerchantLink" name="btnMerchantLink" class="btndataprep"><b>Merchant Link</b></a>
                                <a id="merchantlink_status_timestamp" name="merchantlink_status_timestamp" class="df_merchant_link_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Merchant_x0020_Link_x0020_Setup" name="merchantlink_status" class="df_merchantlink_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="BSM Handling">BSM Handling</option>
                                    <option value="Micros Retail">Micros Retail</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <a id="broadband_order" name="broadband_order" class="control-label"><b>Broadband Order</b></a>
                                <a id="bb_order_status_timestamp" name="bb_order_status_timestamp" class="df_bb_order_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Order_x0020_Broadband" name="bb_order_status" class="df_bb_order_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Ordered">Not Ordered</option>
                                    <option value="Ordered">Ordered</option>
                                    <option value="Client Provided">Client Provided</option>
                                    <option value="Client Network">Client Network</option>
                                    <option value="Site Survey Scheduled">Site Survey Scheduled</option>
                                    <option value="Pre-Qual Failed">Pre-Qual Failed</option>
                                    <option value="Install Scheduled">Install Scheduled</option>
                                    <option value="Installed">Installed</option>
                                    <option value="IPs Provided to CN">IPs Provided to CN</option>
                                    <option value="EVDO">EVDO</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a name="network_diagram" id="network_diagram" class="control-label"><b>Network Diagram</b></a>
                                <a id="network_diagram_status_timestamp" name="network_diagram_status_timestamp" class="df_network_diagram_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Network_x0020_Diagram" name="network_diagram_status" class="df_network_diagram_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="Gathering Requirements">Gathering Requirements</option>
                                    <option value="Revisions">Revisions</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a href="https://remedyweb.compass-usa.com/arsys/forms/remedyprod/OM%3AOrderConsole/Support/?cacheid=94dc5108" target="_blank" id="btnRouterOrder" name="btnRouterOrder" class="btndataprep"><b>Router Order</b></a>
                                <a id="router_order_status_timestamp" name="router_order_status_timestamp" class="df_router_order_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Order_x0020_Router_x002f_Switch" name="router_order_status" class="df_router_order_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="Ordered">Ordered</option>
                                    <option value="Shipped">Shipped</option>
                                    <option value="Installed">Installed</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <a href="http://vantagepoint.toltsolutions.com/" target="_blank" id="btnRouterInstall" name="btnRouterInstall" class="btndataprep"><b>Router Install</b></a>
                                <a id="router_install_status_timestamp" name="router_install_status_timestamp" class="df_router_install_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Router_x0020_Installation" name="router_install_status"  class="df_router_install_status form-control shareStatus mousetrap">
                                    <option value="NA">N/A</option>
                                    <option value="Not Started">Not Started</option>
                                    <option value="Request Submitted">Request Submitted</option>
                                    <option value="Tech Scheduled">Tech Scheduled</option>
                                    <option value="Client Installed">Client Installed</option>
                                    <option value="Client Handling">Client Handling</option>
                                    <option value="BSM Handling">BSM Handling</option>
                                    <option value="Completed">Completed</option>
                                    <option value="TBD">TBD</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2 col-sm-offset-5">
                                <label for="Project_x0020_Status" class="control-label">Project Status</label>
                                <a id="project_status_timestamp" name="project_status_timestamp" class="df_project_status_timestamp control-label pull-right time_stamp clearMe"></a>
                                <select id="Project_x0020_Status" name="project_status"  class="df_project_status form-control shareStatus mousetrap">
                                    <option value="New">New</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-networking" class="tab-pane fade">
                <div class="form-horizontal panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a tabindex="-1" data-toggle="collapse" href="#network_info">Network Info</a>
                        </h4>
                    </div>
                    <div id="network_info" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="service_provider" id="label_service_provider" name="label_service_provider" class="control-label col-sm-5">Internet Service Provider</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="service_provider" class="df_service_provider form-control disableInput clearMe mousetrap" name="service_provider"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="net_account_number" id="label_net_account_number" name="label_net_account_number" class="control-label col-sm-5">Account Number</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="net_account_number" class="df_net_account_number form-control disableInput clearMe mousetrap" name="net_account_number"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="download_speed" id="label_download_speed" name="label_download_speed" class="control-label col-sm-5">Download Speed</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="download_speed" class="df_download_speed form-control disableInput clearMe mousetrap" name="download_speed" placeholder="Mbps"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="upload_speed" id="label_upload_speed" name="label_upload_speed" class="control-label col-sm-5">Upload Speed</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="upload_speed" class="df_upload_speed form-control disableInput clearMe mousetrap" name="upload_speed" placeholder="Mbps"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="first_ip" id="label_first_ip" name="label_first_ip" class="control-label col-sm-5">First Usable IP</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="first_ip" class="df_first_ip form-control ip_address disableInput clearMe mousetrap" name="first_ip"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last_ip" id="label_label_last_ip" name="label_label_last_ip" class="control-label col-sm-5">Last Usable IP</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="last_ip" class="df_last_ip form-control ip_address disableInput clearMe mousetrap" name="last_ip"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gateway_ip" id="label_gateway_ip" name="label_gateway_ip" class="control-label col-sm-5">Gateway</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="gateway_ip" class="df_gateway_ip form-control ip_address disableInput clearMe mousetrap" name="gateway_ip"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dns_1" id="label_dns_1" name="label_dns_1" class="control-label col-sm-5">DNS 1</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="dns_1" class="df_dns_1 form-control ip_address disableInput clearMe mousetrap" name="dns_1"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dns_2" id="label_dns_2" name="label_dns_2" class="control-label col-sm-5">DNS 2</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="dns_2" class="df_dns_2 form-control  ip_address disableInput clearMe mousetrap" name="dns_2"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subnet_mask" id="label_subnet_mask" name="label_subnet_mask" class="control-label col-sm-5">Subnet Mask</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="subnet_mask" class="df_subnet_mask form-control ip_address  disableInput clearMe mousetrap" name="subnet_mask"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Network Notes</strong></div>
                    <div class="panel-body">
                        <textarea name="network_comments" class="form-control df_network_comments disableInput clearMe mousetrap" rows=6></textarea>
                    </div>
                </div>
            </div>
            <div id="tab-log" class="tab-pane fade">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b>History</b></div>
                    <div class="panel-body">
                        <textarea name="status_log" id="status_log" class="form-control df_log clearMe mousetrap" rows=6 readonly></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div style="text-align:center;">
                <input class="btnsubmit btn btn-default" type="submit" value="Submit">
                <button id="btnCancel" class="btn btn-default" onclick="cancelEditMode(); return false;">Cancel</button>
                <button id="btnSync" class="btn btn-default" onclick="initSharepointSync(); return false">Sync</button>
            </div>
            <br>
            <div style="text-align:center;" id="sharepoint_add_div" tabindex="-1" >
                <span>Unit doesn't exist in SharePoint.  Would you like to add it?</span>
                <br>
                <button id="btnAddYes" name="btnAddYes">Yes</button>
                <button id="btnAddNo" name="btnAddNo">No</button>
                <input id="unit_number_search" name="unit_number_search" {% if unit %} value="{{ unit.unit_number }}" {% endif %}/>
            </div>
        </div>
    </form>
    <!-- Modal Unit Exists -->
    <div id="warningModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>An entry for this unit already exists in the system.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnViewExistingUnit">View</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
<!--
    TODO: Complete this forms conversion to bootstrap
-->
